airbus-ship-detection/
asdc_gpu20210409T2205/
asdc_gpu20210614T1843/
output/
Mask_RCNN-master.zip
mask_rcnn_coco.h5
kaggle-notebooks-master.zip
Mask_RCNN-master/assets/
Mask_RCNN-master/build/
Mask_RCNN-master/dist/
Mask_RCNN-master/images/
Mask_RCNN-master/mask_rcnn.egg-info/
Mask_RCNN-master/mrcnn/
Mask_RCNN-master/samples/
Mask_RCNN-master/coco_obj_detection.py
Mask_RCNN-master/elephant.jpg
Mask_RCNN-master/mask_rcnn_coco.h5
Mask_RCNN-master/run_coco_model.py
Mask_RCNN-master/setup.cfg
Mask_RCNN-master/setup.py